[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/stator"]
	path = src/stator
	url = https://github.com/toastedcrumpets/stator.git
[submodule "src/sundials"]
	path = src/sundials
	url = https://github.com/LLNL/sundials.git
[submodule "src/coin"]
	path = src/coin
	url = https://github.com/ampl/coin.git
