name: Wheels

env:
  SETUPTOOLS_SCM_PRETEND_VERSION: ${{ github.event.inputs.overrideVersion }}
  CIBW_BEFORE_ALL_LINUX: >
    dnf install -y perl-IPC-Cmd zip kernel-headers perl autoconf-archive lapack-devel || apt install -y zip perl autoconf-archive liblapack-dev
  CIBW_TEST_REQUIRES: pytest
    
on:
  workflow_dispatch:
    inputs:
      overrideVersion:
        description: Manually force a version
  release:
    types:
      - published
  pull_request:
    paths:
      - .github/workflows/wheels.yml
  push:

concurrency:
  group: wheels-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Don't clone history
          submodules: true # Update submodules

      - name: Build SDist
        run: pipx run build --sdist

      - name: Check metadata
        run: pipx run twine check --strict dist/*.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          path: dist/*
          name: wheels-sdist
  build_wheels:
    name: ${{ matrix.build }} ${{ matrix.arch }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Cannot build on macOS due to broken intel-MKL support
          #- os: macos-latest
          #  arch: auto64
          #  build: "*"
          #- os: macos-15-intel
          #  arch: auto64
          #  build: "*"
          - os: windows-latest
            arch: auto64
            build: "cp*"
          - os: ubuntu-latest
            arch: auto64
            build: "*manylinux*"
          - os: ubuntu-latest
            arch: auto64
            build: "*musllinux*"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: ${{ matrix.build }}
          CIBW_ARCHS: ${{ matrix.arch }}

      - name: Verify clean directory
        run: git diff --exit-code
        shell: bash

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          path: wheelhouse/*.whl
          name: wheels-${{ strategy.job-index }}

  upload_all:
    name: Upload if release
    needs: [build_wheels, build_sdist] 
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/p/simcem
    permissions:
      id-token: write
      attestations: write
      contents: read
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
          path: dist
      - name: List all files
        run: ls -lh dist
      - name: Generate artifact attestation for sdist and wheels
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: "dist/simcem-*"
      - uses: pypa/gh-action-pypi-publish@release/v1
